body{
    background-image: url("img/cig.jpg");
    padding: 0;
    margin: 0;
}

#game{
    background-image: url("img/oreo2.jpg");
    width:  600px;
    height: 700px;
    border: 5px solid black;
    margin: auto;
    overflow: hidden;
}

#block{
    width: 70px;
    height: 700px;
    background-image: url("img/zmenseny2.0-removebg-preview.png");
    position: relative;
    left: 600px;
    animation: block 2s infinite linear;
}
/*Animace bloku, která začíná v levo a končí v pravo*/
@keyframes block{
    0%{left:600px}
    100%{left:-50px}
}

#hole{
    width: 70px;
    height: 200px;
    background-image: url("img/zdravyzivot2.jpg");
    position: relative;
    left: 600px;
    top: -700px;
    animation: block 2s infinite linear;
}


#character{
    width: 61px;
    height: 50px;
    background-image: url("img/Vit7.png");
    position: absolute;
    top: 100px;
}

.mid{
    text-align: center;
    color: gold;
}

.mid2{
    text-align: center;
    color: gold;
    font-size: 30px;
}